[submodule "lib/EloquentEsp32cam"]
	path = lib/EloquentEsp32cam
	url = https://github.com/aliffathoni/EloquentEsp32cam.git

[submodule "lib/TFT_eSPI"]
	path = lib/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
